<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Database=LifeOrganizerDB;" />
  </connectionStrings>
  <appSettings file="Properties/private.config">
    <add key="RecentMoviesSearchesPath" value="\RecentMoviesSearch.txt" />
  </appSettings>
</configuration>