<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Database=LifeOrganizerDB;" />
  </connectionStrings>
  <appSettings file="Properties/private.config">
    <add key="RecentMoviesSearchesPath" value="\RecentMoviesSearch.txt" />
    <add key="MovOrgInfrastructurePath" value=".\" />
    <add key="MovOrgInfrastructureFile" value="MovOrg.Infrastructure.dll" />
    <add key="MovOrgOrganizerPath" value=".\" />
    <add key="MovOrgOrganizerFile" value="MovOrg.Organizer.dll" />
  </appSettings>
</configuration>